*{
    background-color: #1d1d1d;
    color: pink;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    letter-spacing: 3px;
    text-transform: lowercase;
}

/*html{
    font-size: 40px;
}


body {
    width: 100%;

}
*/

.sidenav {
    /*Video CSS*/
    display:none;

    /*height: 100%; */
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black !important;
    color: pink;
    overflow-x: hidden;
    padding-top: 20px;
    text-transform: lowercase;
    padding-left: 30px;
    font-size: 20px;
    line-height: 100px;

}

.sidenav a {
    background-color: black;
    

}

main{
    padding: 0px 30px 30px 30px;
}

main .intro{
    padding: 20px 20px 20px;
    line-height: 1.3;
    font-size: 20px;
    
}


main .CTA{
    width:100%;
    padding: 10px 20px 10px 10px;
    line-height: 1;
    font-size: 14px;
    font-style: italic;
    text-transform: lowercase;
    display: relative;
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    
}

.tagline{
    opacity:0.7;
    line-height: 25px;
}



.intro{
    font-size: 1em;
    font-weight: bold;
    margin-top: 100px;
    height: 250px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    /*display: block;*/
    text-transform: lowercase;
    text-align: left;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;


}

.button1{
    text-decoration: none;
    background-color: pink;
    color: black;
    padding: 5px 10px 5px 10px;
    width: 280px;
    border-radius: 5px;
}

.button1:hover{
    text-decoration: none;
    background-color: darkorchid;
    color: white;
    padding: 5px 10px 5px 10px !important;
    width: 280px !important;

}



button{
    background-color: black;
    display: block; 
    border: 0 none;
    cursor: pointer;
}

button:hover{
    background-color:pink;
    color: black;
}

a:link{
    text-decoration: none;
    background-color: black;
}

a:hover{
    color: white;
    animation-name: nav;
    animation-duration: 500ms;
}

@keyframes nav{
    100%{
        width: 40px;
    }
}

#contact-fields{
    display: block;
}

.small-text{
    font-size: 12px;
}

.radio{
    padding-right: 1px;
}

.small-image{
    width:100px;
    border-radius: 50%;
    border-color: pink;
    border-width:5px;
    border-style: solid;
    max-width: 100%;
    height: auto;
}

#contact-fields{
    margin-top: 15px;
    margin-bottom: 15px;
}


.radio{
    opacity: 0.7;
}

.github{
    position: fixed;
    bottom: 5px;
    right: 0px;
}

img{
    margin: auto;
}

/*footer{ 
    margin-left: 200px;
    width: 100%;
    font-size: 10px;

}*/

/*.home-info{
    display: flex;
    flex-direction: column;

}*/


hr{
    border-top: 1px solid pink;


}

/*CSS for contact page*/

.contact-title{
    display: flex;
    flex-direction: column;
    

}

.contact-reason{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-radio{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contact-message{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#contact-name{
    flex-shrink: 1;
}

.container-skills-one{
    display: grid;
    grid-template-columns:repeat( 4, 220px);
    /*grid-template-columns:repeat( auto-fit, minmax(50px, 300px));*/
    grid-template-rows: repeat(1, 150px);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
   
}

.container-skills-two{
    display: grid;
    /*grid-template-columns:repeat( 1, 150px);*/
    grid-template-columns:repeat( 2, minmax(200px, 600px));
    grid-template-rows: repeat(1, 200px);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;

}

@media only screen and (max-width: 700px){
    .home-responsive{
        width:100%;
    }

    .intro{
        height: 250px;
    }

    .footer-responsive{
       margin: 20px;
       font-size: 10px;
    }

    .footer-links:hover{
        padding: 0px 0px 0px 0px;

    }
    
    a[href="linkedin"]{
        padding: 0px;
        width: 11px;
    }

    .fa{
        width: 11px !important;
    }
}



@media only screen and (min-width: 810px) {
    .sidenav {
        /*Video CSS*/
        display: block;
        height: 100%;
        width: 140px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: black !important;
        color: pink;
        /*overflow-x: hidden;*/
        padding-top: 20px;
        line-height: 10px;
        text-transform: lowercase;
        padding-left: 30px;
        font-size: 15px;
        line-height: 100px;
    
    }
    main{
        margin: 0 auto;
        margin-left: 140px;
        width: 600px;
        padding: 30px;
    }
    main .intro{
        width:500px;
        height: 150px;
        padding: 20px 20px 20px;
        line-height: 1.3;
        font-size: 20px;
        
    }
    main .CTA{
        width:500px;
        padding: 0px 20px 10px;
        line-height: 1;
        font-size: 14px;
        font-style: italic;
        text-transform: lowercase;
        
    }

    


}

.form-small{
    width: 60%;
    
}

.form-style{
    text-decoration: none;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid grey;
    background-color: grey;
}


@media only screen and (min-width: 1000px) {
    main{
        margin: 0 auto;
        margin-left: 200px;
        width: 1000px;
        font-size: 20px;
    }

    .sidenav {
        /*Video CSS*/
        display: block;
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: black !important;
        color: pink;
        /*overflow-x: hidden;*/
        padding-top: 20px;
        line-height: 10px;
        text-transform: lowercase;
        padding-left: 30px;
        font-size: 20px;
        line-height: 125px;
    
    }

    .intro{
        height: 150px;
    }

    footer{ 
        margin-left: 230px;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        
        
    
    }

    .footer-signature{
        font-size: 10px;
        opacity: 0.5;
        display: block;
        margin: 0;
        padding: 15px;

    }


    .footer-links{
        padding: 10px 20px 10px 20px;
        font-size: 20px

    }

    .footer-links:hover{
        padding: 10px 20px 10px 20px;

    }

    
    .fa{
        padding: 5px;
        font-size: 20px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        background-color: transparent !important;
        background-repeat: no-repeat;
        border: none;
        opacity: 100%;
        
    }
    
    .fa:hover{
        padding: 5px;
        margin: 0px;
        height: 20.15px;
        width: 20px !important;
    }
}